GNEG 1111

CHEM1103

PHYS 2054
GNEG 1121

SCIENCE ELECTIVE w/ 3 HRS

HIST/GOVT ELECTIVE w/ 3 HRS


SCIENCE ELECTIVE w/ LAB
SOCIAL SCIENCE ELECTIVE


FINE ARTS ELECTIVE
SOCIAL SCIENCE ELECTIVE

COMM 1313

INEG 2313
 
PHIL 3103
FREE ELECTIVE

TWO FREE ELECTIVES

FREE ELECTIVE
SOCIAL SCIENCE ELECTIVE 
TOTAL HRS: 126

ENGLISH
ENGL 1013
ENGL 1023

CSCE
CSCE 2004
CSCE 2114
CSCE 2014
CSCE 2214
CSCE 3193
CSCE 3613
CSCE 3513
CSCE 4523
CSCE ELECTIVE
CSCE 4323
CSCE 4963
CSCE ELECTIVE
CSCE 4133
CSCE 4561
TWO CSCE ELECTIVES

MATH
MATH 2554
MATH 2564
MATH 2603
MATH 3103
MATH 3083
